server {
    # Port
    listen 8080;

    # Main properties
    server_name ${DOMAIN_NAME};

    # Route to auth service
    location /auth/ {
        proxy_pass http://auth-backend:3000;
        include /etc/nginx/rules.d/restful-proxy-rule.conf;
    }
    
    # Route to auth service
    location /user/ {
        proxy_pass http://users-backend:3000;
        include /etc/nginx/rules.d/restful-proxy-rule.conf;
    }

    # Route to frontend service
    location / {
        proxy_pass http://frontend:8080;
        include /etc/nginx/rules.d/restful-proxy-rule.conf;
    }

    # Logs
    access_log /var/log/nginx/nginx_default_access.log;
    error_log /var/log/nginx/nginx_default_error.log;
}