# For main domain
server {
    # Main properties
    server_name ${DOMAIN_NAME};

    # Include common setup
    include /etc/nginx/rules.d/common.conf;

    # Route to API Gateway
    location / {
        proxy_pass ${WAF_ADDR};
        include /etc/nginx/rules.d/avoid_envsubst.conf;
    }
}

# For subdomain
server {
    # Main properties
    server_name *.${DOMAIN_NAME};

    # Include common setup
    include /etc/nginx/rules.d/common.conf;

    # Route to API Gateway
    location / {
        proxy_pass ${WAF_ADDR};
        include /etc/nginx/rules.d/avoid_envsubst.conf;
    }
}