server {
    # Port
    listen 8080;

    # Main properties
    server_name lab.${DOMAIN_NAME};

    # Route to RESTFUL endpoint
    location /api/ {
        proxy_pass http://lab:3000;
        include /etc/nginx/rules.d/restful-proxy-rule.conf;
    }

    # Route to WS endpoint
    location /ws/ {
        proxy_pass http://lab:3000;
        include /etc/nginx/rules.d/ws-proxy-rule.conf;
    }

    # Logs
    access_log /var/log/nginx/nginx_lab_access.log;
    error_log /var/log/nginx/nginx_lab_error.log;
}