server {
    # Port
    listen 8080;

    # Main properties
    server_name s3-dashboard.${DOMAIN_NAME};

    # Route to service
    location / {
        proxy_pass http://minio:9001;
        include /etc/nginx/rules.d/blackbox-proxy-rule.conf;
    }

    # Logs
    access_log /var/log/nginx/nginx_vault_access.log;
    error_log  /var/log/nginx/nginx_vault_error.log;
}