@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* [ UTILS ] */
/* Texts */
.text-normal { @apply font-normal; }
.text-large { @apply text-3xl font-bold; }

/* Colors */
.text-gray      { @apply text-gray-400; }
.text-red       { @apply text-red-400; }
.text-green     { @apply text-green-400; }
.text-yellow    { @apply text-yellow-400; }
.text-blue      { @apply text-blue-400; }
.text-purple    { @apply text-purple-400; }
.text-cyan      { @apply text-cyan-400; }

/* [ COMPONENTS ] */

/* Dividers: for child */

/* General */
.body       { @apply bg-black text-[#eee] font-mono text-sm; }
.header     { @apply flex gap-4 justify-between p-4 rounded border border-[#444] bg-[#1a1a1a]; }
.dropdown   { @apply absolute right-0 w-40 hidden z-10 bg-[#2a2a2a] rounded shadow-lg divide-y divide-[#444] group-hover:block; }
.sidebar    { @apply p-4 w-64 min-h-screen rounded border-r border-l border-b border-[#444] bg-[#1a1a1a]; }  /* assume parent is flex */

/* Dividers: for child */
.dividers-1 { @apply divide-y divide-[#444]; }
.dividers-2 { @apply divide-y divide-[#333]; }

/* Card, part of the bento-box-type page */
.card           { @apply p-4 border border-[#444] rounded bg-[#1a1a1a]; }
.card-title     { @apply pb-2 border-b border-[#444] font-bold text-lg text-left; }
.card-field     { @apply p-2 border border-[#444] text-left; }
.card-button    { @apply p-4 border border-[#444] rounded bg-[#1a1a1a] text-center cursor-pointer hover:bg-[#2a2a2a] transition; }

/* Avatar */
.image      { @apply w-full h-full object-cover rounded; }
.online-dot { @apply absolute bottom-0 right-0 block w-3 h-3 bg-green-500 rounded-full ring-2 ring-white; }

/* Form: is a card with input-able fields */
.form       { @apply p-4 border border-[#444] rounded bg-[#1a1a1a] w-96 flex flex-col items-center space-y-4 mx-auto m-52; }
.form-field {
    @apply bg-[#ddd] rounded-sm p-2 w-full text-black placeholder-[#555]
    focus:outline-none focus:ring-4 focus:ring-blue-600
    transition-all duration-200 ease-out;
}

.form-button-base   { @apply w-full font-semibold py-2 px-4 rounded transition cursor-pointer; }
.form-button        { @apply w-full font-semibold py-2 px-4 rounded transition cursor-pointer bg-[#444] hover:bg-[#555]; }
.form-button-red    { @apply w-full font-semibold py-2 px-4 rounded transition cursor-pointer bg-red-700  hover:bg-red-600}

/* [ OTHERS, Not grouped yet ] */
.row-item           { @apply py-2; } /* might remove */
.row-item-indent    { @apply py-2 flex justify-between px-4; }

.friends-row-item   { @apply py-2 text-left; }
.game-log-row-item  { @apply py-2 flex justify-between px-4; }
